main#main
    header.hero 
        padding-bottom: 1rem !important
        min-height: 0 !important
        background-color: #fefefe
        border-bottom: 2px dotted var(--color-background-alt)

        .container .content
            padding-top: 0.5rem !important

